*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body{
    background-color: #e2e2e2;
}

.formulario{
    background-color: #000;
    margin: 1em;
    border: 1px solid #000;
    border-radius: 10px;
    color: #fff;
}

.input-box{
    margin: 10px;
    
}

.input-box label{
    padding: 10px;
    font-size: 20px;
    display: block;
}

.input-box input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(240, 240, 240, 1) 0px 3px 8px;
    
}

.btn{
    text-align: center;
}

.btn button{
    background-color: #168dee;
    color: #fff;
    width: 50%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    box-shadow: rgba(240, 240, 240, 0.5) 0px 3px 8px;
}

footer{
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 1em;
}

footer i{
    font-size: 40px;
}